datasets/*
models/*
src/matlab/oasis_saves/*
src/convnet/train_x.npy
src/convnet/train_y.npy
src/WebApp/db.sqlite3
src/WebApp/CBIR/static/*
src/WebApp/*/__pycache__/*
src/WebApp/*/*/__pycache__/*
src/convnet/outputs/*
!src/convnet/outputs/pascal_net/train_error_rates.npy
!src/convnet/outputs/pascal_net/val_error_rates.npy
*.pyc
__pycache__/
src/pascal/training_outputs/
src/oasis/oasis_saves/
src/algos/convnet/features_names_and_labels.p
src/algos/convnet/train_features.p
src/algos/convnet/training_outputs/best_model.p
!datasets/Paris/preprocess.py
