<div class="container">

  <div id='main-row' class='row'>

      <div class='col-md-9'>

        <form name="form">

        <div class="input-group">
          <input id='search_input' type="text" class="form-control" placeholder="Upload Image...">
          <div class="input-group-btn">
            <button type="file" class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"
            >
              <span class="glyphicon glyphicon-picture"></span>
            </button>
            <!-- <¸ type="submit" ng-click="submit()" class="btn btn-default">Search</button> -->
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Search
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li ng-repeat="algo in algos"><button href="#" type="submit" ng-click="submit(algo)" class="btn-link">{[{algo}]}</button></li>
            </ul>
          </div>
        </div>

      </form>

      <div class='row row-images' ng-repeat="(key, rowimages) in images | chunkBy:4">
        <div class='col-md-3 col-image' ng-repeat="(k, colimage) in rowimages">
          <img class='img-thumbnail' src={[{colimage.path}]} style='max-height: 200px;'/>
        </div>
    </div>

    </div>

    <div class='row'>
      <div class='col-md-3'>

        <div id='img-preview' ng-repeat="image in upImages">
          <div preview="{ file: image }">
            <canvas></canvas>
          </div>
        </div>

      </div>
    </div>


  </div>

  <!-- <div class='row' id='images-results' >

      <div class='col-md-8'>

      </div>

  </div> -->
</div>
